/* Margins */
.imageblock.left{margin:.25em 3em 1.25em 0}
.imageblock.right{margin:.25em 0 1.25em .625em}
table.tableblock{max-width:100%;border-collapse:separate; margin:1em 1em 1em 1em}
table.center{margin-left:auto;margin-right:auto;}
/* Hidden Line Separator */
hr{border-width:0px 0 0; margin:1em 0 3em}
/* Source Highlighting */
.listingblock pre.CodeRay{font-size:0.9em;background-color:whitesmoke;border-color:#d3d3d3;border-width:1px;border-style:solid}
/* LaTeX Equations
div.MathJax_Display{font-size:medium;}
.MathJax {font-size:medium;} */
/* Wikipedia Preview */
object,embed{width:100%;min-height:1000px;}
iframe {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 2px;
}
.zoom {
  padding: 0px;
  background-color: white;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}